{% extends 'baseexam.html' %}

{% load crispy_forms_tags %}
{% block banner %}
{% load static %}

{% endblock %}
{% block content %}
{% if form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for error in form.non_field_errors %}
  <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="container animated fadeIn">
  <div class="row">
    <h1 class="header-title mt-3">Login</h1>
    {% include 'includes/breadcrumb.html' %}
    <hr>
    <div class="col-12" id="parent" style="justify-content: center;">
      <div class="col-sm-12 content-p">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
        <form method="post" style="margin-top: 20px;
          border: 4px solid #dce5f2;
          padding: 50px;
          margin: 20px;  justify-content: center;margin:0 auto;" class="col-sm-8" novalidate>{% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ user_form.username|as_crispy_field }}
          {{ user_form.password|as_crispy_field }}
          <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Log in</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}