{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
    #header {
        background-color: #045ba8;
        color: black
    }

    .module h2,
    .module caption,
    .selector-chosen h2,
    .inline-group h2 {
        background: #045ba8;
    }

    div.breadcrumbs {
        background: #151414;
    }

    .button,
    input[type=submit],
    input[type=button],
    .submit-row input,
    a.button {
        background: #7f5604;
    }

    .button.default,
    input[type=submit].default,
    .submit-row input.default {
        background: #7f5604;
    }

    .selector-chosen h2 {
        background: #7f5604;
    }
</style>
{% endblock %}
{% block branding %}
{% if user.is_superuser %}
<h1 id="site-name" "><a style=" color:white" href="{% url 'admin:index' %}">
    {{ site_header|default:_('MGSOSA Administration') }}</a></h1>
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}