{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <style>
    body {
    background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }


#team {
    {% comment %} background: #eee !important; {% endcomment %}
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0bacd3;
    border-color: #098aa9;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #B27D12;
    margin-bottom: 50px;
    {% comment %} text-transform: uppercase; {% endcomment %}
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 338px;
}

.backside .card a {
    font-size: 18px;
    color: #0bacd3 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #0bacd3 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
@font-face {
    font-family: myFirstFont;
    src: url('{% static 'fonts/helvetica/HelveticaNowText-Regular.otf' %}');
  }
  .card {
    
    border: none; 
}
{% comment %} /* member section css ends here */ {% endcomment %}
</style>
{% endblock %}

{% block banner %}
    {% load static %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title mt-3" style="text-align:left;font-family: HelveticaNowText-Regular;"> About </h1>
        {% include 'includes/breadcrumb.html' %}
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <p style="text-align:center;font-family: HelveticaNowText-Regular;" class="content-p">
                The Mar Gregorios Syrian Orthodox Student Association (MGSOSA) was established as an effort to provide the youth and young adults of the Malankara Syrian Orthodox church in North America with spiritual nourishment and programming, and opportunities for fellowship. 
                Since its inception, MGSOSA has grown both in membership and in programming. 
                The MGSOSA Archdiocesan executive board oversees the regional planning teams across the United States and Canada, with the United States currently having five regions (Northeast, Southeast, Midwest, South, and West). 
                The regional level teams oversee parish level teams in their respective regions. Each regional team conducts many types of programs annually, from sports tournaments to seasonal spiritual retreats, and volunteering events. 
                The MGSOSA Archdiocesan team annually hosts a leadership conference for all youth and young adult leaders, and another conference alongside the Annual Youth and Family Conference, hosted by the Archdiocese of the Malankara Syrian Orthodox Church in North America. 
                </p>
            </div>
        </div>
    </div>
    <section id="team" class="pb-0">
    <div class="container">
        <h5 class="section-title h1 gold-color" style="font-family: HelveticaNowText-Regular;">Board Members</h5>
    <div class="row justify-content-center">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/bishop.png' %}" alt="Nithin Panicker"></p>
                                    <h4 class="card-title">His Eminence Mor Titus Yeldho</h4>
                                    <p class="card-text">Archbishop, President of MGSOSA</p><p>&nbsp;</p>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Archbishop</h4>
                                    <p class="card-text">His Eminence Mor Titus Yeldho is the Archbishop and Patriarchal Vicar for the Malankara Archdiocese since 2004, and the President of MGSOSA </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
            </div>
            <div class="row justify-content-center">
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Zach.png' %}" alt="Zach Varghese"></p>
                                    <h4 class="card-title">Fr. Zach Varghese</h4>
                                    <p class="card-text">VP of MGSOSA 2019-2021</p><br/><br/>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="width:100%">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Fr. Zach Varghese, MD, MPH</h4>
                                    <p class="card-text">VP of MGSOSA 2019-2021.<br/> Vicar, St. Thomas MSO Church, Austin<br/>vp@mgsosa.com </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->

        </div> 
         </div>
         <div class="row justify-content-center" style="margin:0px; pading:0px">
           <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Nevin.png' %}" alt="Nevin Varghese"></p>
                                    <h4 class="card-title">Nevin Varghese</h4>
                                    <p class="card-text">The Secretary of MGSOSA.</p><br/>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nevin Varghese</h4>
                                    <p class="card-text">The Secretary of MGSOSA. His home parish is St. George MSO church in Carteret, NJ, where he is currently a Sunday School teacher and an altar assistant. He has served in both these roles for nearly the last decade. </p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Aparna.png' %}" alt="Aparna Roy"></p>
                                    <h4 class="card-title">Aparna Roy</h4>
                                    <p class="card-text">The Joint Secretary for our Archdiocesan Youth Leadership Team.</p>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Aparna Roy</h4>
                                    <p class="card-text">The Joint Secretary for our Archdiocesan Youth Leadership Team. She currently attends St. Basil’s Syriac Orthodox Church, in Boston, Massachusetts. Aparna is a a first year PA student at MCPHS University</p><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
        {% comment %} </div>  {% endcomment %}
         </div><div class="row justify-content-center" style="margin:0px; pading:0px">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Nithin.png' %}" alt="Nithin Panicker"></p>
                                    <h4 class="card-title">Nithin Panicker</h4>
                                    <p class="card-text">Serves as the MGSOSA Archdiocesan Treasurer</p><p>&nbsp;</p>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nithin Panicker</h4>
                                    <p class="card-text">Nithin was born, raised, and currently living in Dallas, TX. He’s a member of St. Mary’s Malankara Jacobite Syrian Orthodox Church in Dallas, TX. He currently serves as the MGSOSA Archdiocesan Treasurer. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/Chelsea.png' %}" alt="Chelsea Reji"></p>
                                    <h4 class="card-title">Chelsea Reji</h4>
                                    <p class="card-text">The Joint Treasurer of the Archdiocesan Youth Leadership Team</p>
                                    {% comment %} <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Chelsea Reji</h4>
                                    <p class="card-text">The Joint Treasurer of the Archdiocesan Youth Leadership Team, attends St. Mary’s JSO Church, in White Plains, New York. Chelsea has completed her Bachelor’s in Social and Behavioral Sciences with a minor in Psychology.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->

        </div> 
         </div>
</section>
</div>
  <!--layout for 2 images ends-->
{% endblock %}