{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <style>
        body {
        background: url('{% static 'images/parchemnt_paper2.png' %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
    </style>
{% endblock %}

{% block banner %}
    {% load static %}
    {% comment %} <img src="{% static 'images/new_red_banner.png' %}" class="img-fluid" height="400" alt="Responsive image"> {% endcomment %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title mt-3"> Qleedo </h1>
        {% include 'includes/breadcrumb.html' %}
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-12" style="float:left;padding-left:5px">
                <p style="text-align:center;font-family: HelveticaNowText-Regular;" class="content-p">Qleedo+ is designed to connect the faithful to our saints and each other via accessible technology. Culture, language, and time are no longer barriers.
At its core, Qleedo+ points users to the appropriate prayer indexed to the church calendar. The season, festival, and hour are programmed so that the prescribed text displays in the right language. Saints are prominently featured, and their names auto-populate in the right place. The biblical text is included with easy search. Helpful, scripture based thoughts and study aids are readily present. Eventually, church music will be offered, properly indexed to time and text.</p>
            <h2 class="black-color" style="width:100%">Download <span class="gold-color" >Qleedo Now</span></h2><br/>
            <div class="content-p">
                <div class="row justify-content-center" style="margin: 12px;">
                    <div class="col-sm-5" style="float:left;margin-right: 2px;">
                        <a href="https://play.google.com/store/apps/details?id=com.mediaindia.qleedo&hl=en_IN" target="_blank" style="float:left;">
                        <img class="d-block w-100" src="{% static 'images/google.png' %}" style="" alt="Android">
                        </a>
                    </div>
                    <div class="col-sm-5" style="float:left;margin-left: 2px;">
                        <a href="https://apps.apple.com/in/developer/qleedo-foundation/id1266807075" target="_blank" style="float:left;">
                        <img class="d-block w-100" src="{% static 'images/ios.png' %}" style="" alt="Apple">
                        </a>
                    </div>
                    
                </div><br/>
                <h2 class="black-color" style="width:100%"><span class="gold-color" style="font-size:48px;margin-left:15%" >Qleedo</span> <span style="vertical-align: sub;font-size:16px">Powered by <a href="http://mavapartners.com/" target="_blank" class="site_link_color">Mava</a></span></h2><br/>
                <h4><a href="{% url 'donations' %}">Donate</a> for Qleedo</h4>
            </div>        
            </div>
        </div>
    </div>
</div>
  <!--layout for 2 images ends-->
{% endblock %}